.leftNav {
  color: white;
  padding: 1.5em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

.leftNav svg {
  fill: grey;
  transition: 0.3s;
  width: 1em;
}

.leftNav h1 {
  font-weight: 400;
}

.leftNav h2 {
  font-weight: 400;
  font-size: 1.5em;
}

.leftNav ul li {
  font-weight: 300;
  font-size: 1.1em;
}

.navTitle {
  text-align: center;
  margin-bottom: 60px;
}

.listElements ul {
  margin: 0;
  padding: 0;
}

.listElements ul li {
  list-style: none;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.list-active {
  background-color: var(--main-bg-color);
}

.listElements ul li svg {
  margin-right: 10px;
}

.listElements ul li:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-bg-color);
}

.listElements ul li:hover svg {
  fill: white;
}

.section {
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 500;
}

.second-section {
  margin-top: 2em;
}
/* 
.leftNav .buttons {
  margin-top: 70vh;
} */

.leftNav button {
  width: 100%;
  border-radius: 180px;
}

.leftNav button:hover {
  color: white;
}

.leftNav .btn-reset {
  background-color: black;
  color: rgb(116, 116, 116);
}

@media (max-width: 768px) {
  .leftNav .buttons {
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
  }
  .leftNav button {
    width: 50%;
  }
}
