.customFloat label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.customFloat {
  position: relative;
}

.customFloat input {
  padding: 1.5rem 0rem 0.6rem 0.75rem;
}

.customFloat textarea {
  padding: 1.5rem 0rem 0.1rem 0.75rem;
}
