table {
  border: 1px solid grey;
}

svg {
  width: 1.5em;
}

.btn {
  border-radius: 180px !important;
}

.btn:hover svg {
  fill: black !important;
}

.btn svg {
  fill: rgba(0, 0, 0, 0.466) !important;
}

.btn-long {
  padding: 0.3em 2em !important;
}

.btn-main {
  background-color: var(--main-bg-color) !important;
}

.btn-main:hover {
  background-color: rgba(255, 195, 116, 0.815) !important;
}

.mx-lg-none {
  display: none;
}

.create {
  color: rgba(0, 0, 0, 0.466);
  font-size: 2.3em;
  cursor: pointer;
}

.create:hover {
  color: black;
}
